<!DOCTYPE HTML>
<html>
    <link rel = "icon" type = "image/png" href = "imgs/app-icon.png">
    <head>
        <meta charset="utf-8">
        <title>食品管理アプリ</title>
        <link rel="stylesheet" href="style.css">  
    </head>

    <body>
        <header>
          <h1>Food Manager</h1>
        </header>
        <div class = "main">
          <h1>ログイン画面</h1>
          <p>ユーザーネームとパスワードをご入力の上, ログインボタンを押してください。</p>
          <div class = "login_form">
            <input type = "name" name = "user_name" placeholder="user-name">
          </div>
        <!-- <script src="js/index.js"></script> -->
    </body>
</html>