<!DOCTYPE HTML>
<html>
    <link rel = "icon" type = "image/png" href = "imgs/app-icon.png">
    <head>
        <meta charset="utf-8">
        <title>食品管理アプリ</title>
        <link rel="stylesheet" href="style.css">  
    </head>

    <body>
        <header>
          <h1>Food Manager</h1>
        </header>
        <div class = "login-main">
            <h1>Login</h1>
            <form class = login>
                <div class = "login_form">
                    <input type = "text" placeholder="user-name" id = "user_input"/>
                    <input type = "password" placeholder="password" id = "pass_input"/>
                    <button type = "button" id = "login_button">Login!</button>
                    <p class = "message">Not registered?<a href = "register">Create an account</a></p>
                </div>
            </form>
        </div>
        <script src="js/login.js"></script>
    </body>
</html>