<!DOCTYPE HTML>
<html>
    <link rel = "icon" type = "image/png" href = "imgs/app-icon.png">
    <head>
        <meta charset="utf-8">
        <title>食品管理アプリ</title>
        <link rel="stylesheet" href="style.css">  
    </head>

    <body>
        <header>
          <h1>Food Manager</h1>
        </header>
        <div class = "register-main">
            <h1>Create Account</h1>
            <form class = register-main>
                <div class = "register_form">
                    <input type = "text" placeholder="user-name"/>
                    <input type = "password" placeholder="password"/>
                    <button>Register!</button>
                    <p class = "message">Already registered?<a href = "/login">Sign In</a></p>
                </div>
            </form>
        </div>
        <!-- <script src="js/login.js"></script> -->
    </body>
</html>