/*全体*/
body {
    /* background-color:#CCFFFF; */
    background-color:#d6ffff;
    }

.main {
  color:#191970;
}
    
header {
  /* background-color:#78EEEE; */
  background-color:	#7fbfff;
  /* background-color:#191970; */
  border-bottom: 10px solid #ffffe0;
}

header h1 {
  /* font-family: "Comic Sans MS"; */
  font-family: cursive;
  color:#ff9328;
  -webkit-text-stroke:0.1px red;
}

footer {
  /* background-color:#78EEEE; */
  background-color:	#7fbfff;
  border-top: 10px solid #ffffe0;
  /* background-color:#191970; */
  display:flex;
  justify-content: center;
  margin-top:20px;
}

img {
  height:200px;
  width:auto;
}

.image {
    text-align:center;
}

footer img {
  height:20px;
  width:auto;
}

footer a {
  color:red;
  padding:20px;
}

/*------------------------------------------------*/
/*login.ejs*/
.login-main {
  margin:auto;
  text-align: center;
}

.login-main h1{
  color:white;
  -webkit-text-stroke:1px #4169e1;
}

/*------------------------------------------------*/
/*register.ejs*/
.register-main {
  margin:auto;
  text-align: center;
}

.register-main h1{
  color:white;
  -webkit-text-stroke:1px #4169e1;
}

/*login.ejsと*register.ejs*/
form {
  background-color: white;
  width:400px;
  height:300px;
  margin:auto;
  display:flex;
  flex-direction: column;
}

form input {
  margin:15px auto;
  background-color: #f5f5f5;
  width:300px;
  height:50px;
}

form button{
  margin:15px auto;
  background-color:#afeffd;
  width:300px;
  height:50px;
  border: 3px solid #4169e1;
  border-radius: 10px;
}

/*------------------------------------------------*/
/*index.ejs*/
.amount { /*入力フォームの単位あるやつ setting.htmlも*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  width:200px;
  height:20px;
}

.amount h4 {
  margin-left:10px;
}

/*------------------------------------------------*/
/*list.ejs*/
.day {
    text-align:center;
    font-size:30px;
}

#list {
    margin:auto;
    padding:10px;
    border:3px solid #4169e1;
}

#list td {
    padding:10px;
}
/*------------------------------------------------*/
/*target.ejs*/
/* 日付のとこ */
.button_date {
  display:flex;
  justify-content: center;
  align-items: center;
}

.target-achivement { 
  margin:30px;
  border: 3px solid #4169e1;
  border-radius: 10px;
  /* border-radius:30px solid #0000cd; */
}

.target-achivement h1 {
  font-size:40px;
  margin:1px;
}

.target-achivement h2 {
  font-size:30px;
}

#image {
  text-align:center;
  margin:10px;
}

#date {
  text-align:center;
}