<!DOCTYPE HTML>
<html>
  <link rel = "icon" type = "image/png" href = "imgs/app-icon.png">
  <head>
    <meta charset="utf-8">
    <title>食品管理アプリ</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="script.js"></script> -->
  </head>

<%
  target = 20000; //データベースから目標値を引っ張ってくる
%>

<%
    achievement = 18000; //データベースから引っ張ってくる
%>

  <body>
    <header>
      <h1>Food Manager</h1>
    </header>
    <div class = "main">
      <div id = "target-main">
        <div class = "target-achivement">
          <h1>目標</h1>
          <div class = "amount"> 
            <h2 id = "target-figure"><%= target%></h2>
            <h2 class = "unit">円</h2>
          </div>
        </div>

        <div class = "target-achivement">
          <h1>実績</h1>
          <div class = "amount">
            <h2 id = "achievement-figure"><%= achievement%></h2>
            <h2 class = "unit">円</h2>
          </div>
        </div>

        <!-- 画像 -->
        <div id = "image">
            <% //画像のif文
                let SRC;
                if((target - achievement) >= 1000) {
                    SRC = "imgs/pen1.png";
                } else if((target - achievement) <= -1000) {
                    SRC = "imgs/pen2.png";
                } else {
                    SRC = "imgs/pen3.png";
                }
            %>
            <img src = <%= SRC%>>
            <!-- <img src = "https://cdn.glitch.global/d2c5f07e-df19-41b0-aa15-c4e16dd6d9ec/%E3%83%98%E3%82%9A%E3%83%B3%E3%82%AD%E3%82%99%E3%83%B31.png?v=1676985350670"> -->
        </div>
      </div>
    </div>
      
    <footer>
        <a class = "icon" href = "/index"><div class = "image"><img src = "imgs/input-icon.png"><div>入力</div></div></a>
        <a class = "icon" href = "/list"><div class = "image"><img src = "imgs/list-icon.png"><div>リスト</div></div></a>
        <a class = "icon" href = "/target"><div class = "image"><img src = "imgs/goal-icon.png"><div>目標・実績</div></div></a>
        <a class = "icon" href = "/graph"><div class = "image"><img src = "imgs/graph-icon.png"><div>年間グラフ</div></div></a>
        <a class = "icon" href = "/setting"><div class = "image"><img src = "imgs/setting-icon.png"><div>設定</div></div></a>
      </footer>
      <script src="js/target.js"></script>
  </body>
</html>